Assets/TextMesh[[:space:]]Pro/Resources/Fonts[[:space:]]&[[:space:]]Materials/kurobara-gothic-bold[[:space:]]SDF.asset filter=lfs diff=lfs merge=lfs -text
Assets/TextMesh[[:space:]]Pro/Resources/Fonts[[:space:]]&[[:space:]]Materials/kurobara-gothic-light[[:space:]]SDF.asset filter=lfs diff=lfs merge=lfs -text
